<!DOCTYPE html>
<html ng-app="angular">
  <head>
    <title>
      Index
    </title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js">
    </script>
  </head>
  
  <body ng-controller="LoginCtrl">
    <div ng-app="angular" ng-controller="LoginCtrl">
      <form name="userForm" ng-submit="submitForm(userForm.$valid)"  nonvalidate class="well">
        <h1>Enter Your<br>
        user Name</h1>
        <input type="text" ng-model="user.username" required><br><br>
    
        <input type="text" ng-model="user.password">
    <br><br>
    <button ng-click="signin()">SignIn</button>
      </form>
      
      
    </div>
    <div ng-include="template.url"></div>
  </body>
</html>
